.container {
  margin: 5rem auto;
  width: 70rem;
  height: 50rem;
  padding: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
  .chatlog {
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 42.5rem;
    .message {
      margin: 1rem auto;
      opacity: 0.7;
    }
  }
  .inputbox {
    input {
      height: 4.5rem;
      &:focus {
        background-color: #dfe7f8;
      }
    }
    .content {
      width: 55rem;
    }
    button {
      width: 3.9rem;
      height: 4.8rem;
      font-weight: bold;
      background-color: #08088a;
      color: white;
      border: none;
    }
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}
