.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    width: 80rem;
    display: flex;
    flex-direction: column;
    .line {
      border: 1px solid blue;
    }
    .info {
      display: flex;
      justify-content: space-between;
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      img {
        width: 40rem;
        height: 30rem;
      }
    }
    .content {
      height: 30rem;
      padding: 20px;
      margin-top: 3rem;
      border-radius: 12px;
      background-color: #f2f2f2;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
      overflow: auto;
      p {
        margin: 0;
      }
    }
  }
  .comment {
    width: 80rem;
    margin-top: 5rem;
    .line {
      border: 1px solid blue;
      margin: 1rem auto;
    }
    ul {
      padding: 0;
    }
    .inputbox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: #f2f2f2;
    }
    input {
      width: 60rem;
      height: 8rem;
    }
    button {
      margin: 0;
      width: 5rem;
      height: 8.3rem;
      background-color: #424242;
      color: white;
    }
  }
  button {
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    &:hover {
      background-color: #ccc;
    }
  }
}
.ui {
  cursor: pointer;
}
